[submodule "presentation"]
	path = presentation
	url = https://github.com/thyms/macross-presentation.git
[submodule "presentation-functional"]
	path = presentation-functional
	url = https://github.com/thyms/macross-presentation-functional.git
[submodule "presentation-stubulator"]
	path = presentation-stubulator
	url = https://github.com/thyms/macross-presentation-stubulator.git
